---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, MY_SITE } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5/index.js'
import Masthead from '../components/Masthead.astro'
import { Image } from '@astrojs/image/components'

const posts = (await Astro.glob('./posts/*/*.md')).sort(
  (a: any, b: any) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <h1 class="font-silkScreen text-center text-expresso-300 text-xl">
        What is it about
      </h1>
      <Content>
        <section>
          <p class="mb-8 indent-4">
            As an avid and curious developper, I've searched, throughout my
            formation and beginning of my career, ways to efficiently take
            notes. <br />
            I stumbled upon the <b>Zettlekasten method</b> and decided to experiment
            with it on <b>Obsidian</b>. However, as nice as it might be to have
            an extensive library of knowledge, keeping it to yourself is
            somewhat tasteless.
            <br />
            This website is keeping track of all the final notes that I was able
            to create through Obsidian.<br />
            I hope you&apos;ll find knowledge in my so called<b>
              second brain</b
            >.
            <a
              class="inline-flex items-center gap-1 indent-1 text-expresso-200"
              href={MY_SITE}
              >If you wish to know more about me <IoArrowForward
                className="inline"
              />
            </a>
            <br />
            And finally as I like to say :
          </p>
          <h1 class="font-silkScreen text-center text-expresso-300 text-xl">
            Try to be better than yesterday, everyday !
          </h1>
        </section>
        <hr
          class="border-top border-expresso-400 dark:border-expresso-100 my-4"
        />
        <section>
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {
              posts.map(post => (
                <li class="text-center mb-4">
                  <a href={post.url}>
                    <Image
                      class="border border-expresso-300 rounded-xl"
                      src={post.frontmatter.heroImage}
                      width={720 * 2}
                      aspectRatio={2.0}
                      alt="Thumbnail"
                    />
                    <div class="mt-3 text-xl text-expresso-300 font-silkScreen">
                      {post.frontmatter.title}
                    </div>
                    <div class="opacity-70 text-expresso-300">
                      {post.frontmatter.description}
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>

